<ng-template #confirm let-modal>
  <div class="modal-body text-center">
    <h5>{{conformLabel}}</h5>
    <button type="button" class="btn btn-primary btn-lg" (click)="submitYes()">{{yesLabel}}</button>
    <button type="button" class="btn btn-secondary btn-lg" (click)="submitNo()">{{noLabel}}</button>
  </div>
</ng-template>
<app-layout>
  <h2>{{title}}</h2>
  <div class="question-area">
    <ngx-md [data]="question"></ngx-md>
  </div>
  <br />
  <br />
  <div>{{answerCodeDescription}}</div>
  <ngx-monaco-editor class="code-area" [options]="options" [(ngModel)]="answerCode" [hidden]="allCompleted || canSubmit"></ngx-monaco-editor>
  <div class="code-area" [hidden]="!(allCompleted || canSubmit)">
    <ngx-md [data]="answerCodeMd"></ngx-md>
  </div>
  <br />
  <h5>{{stdInputLabel}}</h5>
  <textarea class="textbox" [(ngModel)]="stdInput" [readonly]="allCompleted || canSubmit"></textarea>
  <div class="text-right">
    <button type="button" class="btn btn-lg btn-secondary" (click)="exec()" [disabled]="canSubmit || allCompleted">{{exeLabel}}</button>
    <button type="button" class="btn btn-lg btn-secondary" (click)="fixAns()" [disabled]="!canSubmit || allCompleted">{{fixLabel}}</button>
  </div>
  <br />
  <h5>{{stdOutputLabel}}</h5>
  <pre><div class="text-display-area">{{stdOutput}}</div></pre>
  <br />
  <h5>{{stdErrorLabel}}</h5>
  <pre><div class="text-display-area">{{stdError}}</div></pre>
  <br />
  <h5>{{exeTimeLabel}}</h5>
  <div class="text-display-area">{{exeTime}}</div>
  <br />
  <h5>{{exitCodeLabel}}</h5>
  <div class="text-display-area">{{exitCode}}</div>
  <br />
  <div class="text-right">
    <button type="button" class="btn btn-lg btn-primary" (click)="submit(confirm)" [disabled]="allCompleted || !canSubmit">{{submitLabel}}</button>
  </div>
  <ngb-alert type="alert" [dismissible]="false" [hidden]="!errorMessage">
    {{errorMessage}}
  </ngb-alert>
  <ngb-alert type="info" [dismissible]="false" [hidden]="!allCompleted">
    {{doneMessage}}
  </ngb-alert>
</app-layout>
