<ng-template #confirm let-modal>
  <div class="modal-body text-center">
    <h5>{{conformLabel}}</h5>
    <button type="button" class="btn btn-primary btn-lg" (click)="submitYes()">{{yesLabel}}</button>
    <button type="button" class="btn btn-secondary btn-lg" (click)="submitNo()">{{noLabel}}</button>
  </div>
</ng-template>  
<app-layout>
  <h2>{{titile}}</h2>
  <br />
  <br />
  <h2>{{questionLabel}}</h2>
  <ngx-md [data]="question"></ngx-md>
  <br />
  <br />
  <h2>{{answerCodeLabel}}</h2> 
  <div>{{answerCodeDescription}}</div>
  <ngx-monaco-editor class="code-area" [options]="options" [(ngModel)]="answerCode" [hidden]="allCompleted"></ngx-monaco-editor>
  <div class="code-area" [hidden]="!allCompleted">
    <ngx-md [data]="answerCodeMd"></ngx-md>
  </div>
  <br />
  <h5>{{stdInputLabel}}</h5>
  <textarea class="textbox" [(ngModel)]="stdInput" [readonly]="allCompleted"></textarea>
  <div class="text-right">
    <button type="button" class="btn btn-secondary" (click)="exec()" [disabled]="allCompleted">{{exeLabel}}</button>
  </div>
  <br />
  <h5>{{stdOutputLabel}}</h5>
  <pre><div class="result-area">{{stdOutput}}</div></pre>
  <br />
  <h5>{{stdErrorLabel}}</h5>  
  <pre><div class="result-area">{{stdError}}</div></pre>
  <br />
  <h5>{{exeTimeLabel}}</h5>
  <div class="result-area">{{exeTime}}</div>
  <br />
  <h5>{{exitCodeLabel}}</h5>  
  <div class="result-area">{{exitCode}}</div>
  <br />
  <div class="text-right">
    <button type="button" class="btn btn-primary" (click)="submit(confirm)" [disabled]="allCompleted">{{submitLabel}}</button>
  </div>
  <ngb-alert type="info" [dismissible]="false" [hidden]="!allCompleted">
    {{doneMessage}}
  </ngb-alert>
</app-layout>