.textbox {
	width: 100%;
	resize: vertical;
}

.question-area {
	height: 200px;
}

.result-area {
	background: lightgray
}

.code-area {
	height: 250px;
	overflow: scroll;
}

.confirm-modal {
	width: 300px;
}