<app-layout>
  <h2>{{packageNameTitle}}</h2>
  <div>{{packageNameDescription}}</div>
  <input type="text" [ngModel]="packageName" />
  <br />
  <br />
  <h2>{{questionTitle}}</h2>
  <textarea class="textbox" [ngModel]="question"></textarea>
  <br />
  <br />
  <h2>{{answerCodeTitle}}</h2> 
  <div>{{answerCodeDescription}}</div>
  <ngx-monaco-editor class="code-area" [options]="options" [(ngModel)]="answerCode" [hidden]="answerCodeCompleted"></ngx-monaco-editor>
  <div class="code-area" [hidden]="!answerCodeCompleted">
    <ngx-md [data]="answerCodeMd"></ngx-md>
  </div>
  <br />
  <h5>{{standardInputLabel}}</h5>
	<textarea class="textbox" [(ngModel)]="ansStandardInput" [readonly]="answerCodeCompleted"></textarea>
  <button type="button" class="btn btn-secondary" (click)="runAns()" [disabled]="answerCodeCompleted">{{exeLabel}}</button>
  <button type="button" class="btn btn-secondary" (click)="fixAns()" [disabled]="!answerCodeCompleted">{{fixLabel}}</button>
  <br />
  <h5>{{standardOutputLabel}}</h5>
  <pre><div class="result-area">{{ansStandardOutput}}</div></pre>
  <br />
  <h5>{{standardErrorLabel}}</h5>  
	<pre><div class="result-area">{{ansStandardError}}</div></pre>
  <br />
  <h5>{{exeTimeLabel}}</h5>
	<div class="result-area">{{ansExeTime}}</div>
  <br />
  <h5>{{exitCodeLabel}}</h5>  
	<div class="result-area">{{ansExitCode}}</div>
  <br />
  <h2>{{testCodeTitle}}</h2>
  <div>{{testCodeDescription}}</div>
  <ngx-monaco-editor [options]="options" [(ngModel)]="testCode"></ngx-monaco-editor>
  <button type="button" class="btn btn-secondary" (click)="runTest()">{{exeLabel}}</button>
  <button type="button" class="btn btn-secondary" (click)="fixTest()">{{fixLabel}}</button>
  <h5>{{standardOutputLabel}}</h5>
  <pre><div class="result-area">{{testStandardOutput}}</div></pre>
  <br />
  <h5>{{standardErrorLabel}}</h5>  
	<pre><div class="result-area">{{testStandardError}}</div></pre>
  <br />
  <h5>{{exitCodeLabel}}</h5>  
	<div class="result-area">{{testExitCode}}</div>
  <br />
  <br />
  <button type="button" class="btn btn-primary" (click)="addContest()">{{registerLabel}}</button>
  <button type="button" class="btn btn-danger" (click)="rmContest()">{{removeLabel}}</button>
</app-layout>