.title-input {
	width: 500px;
}

.textbox {
	width: 100%;
	resize: vertical;
}

.question-area {
	height: 200px;
	border: solid 0.5px #f5f2f0;
}

.result-area {
	background: #f5f2f0;
	min-height: 25px;
}

.code-area {
	height: 400px;
	overflow: scroll;
}

.testcode-area {
	height: 550px;
	overflow: scroll;
}

.confirm-modal {
	width: 300px;
}