<ng-template #confirm let-modal>
  <div class="modal-body text-center">
    <h5>{{conformLabel}}</h5>
    <button type="button" class="btn btn-primary btn-lg" (click)="rmYes()">{{yesLabel}}</button>
    <button type="button" class="btn btn-secondary btn-lg" (click)="rmNo()">{{noLabel}}</button>
  </div>
</ng-template>
<ng-template #error let-modal>
  <div class="modal-body text-center">
    <h5>{{errorMessage}}</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close()">{{closeLabel}}</button>
  </div>
</ng-template>
<app-layout>
  <h2>{{packageNameLabel}}</h2>
  <div>{{packageNameDescription}}</div>
  <input type="text" [(ngModel)]="packageName" [readonly]="allCompleted"/>
  <br />
  <br />
  <h2>{{questionLabel}}</h2>
  <div>{{questionDescription}}</div>
  <textarea class="textbox question-area" [(ngModel)]="question" [readonly]="allCompleted" [hidden]="previewMode"></textarea>
  <div class="question-area" [hidden]="!previewMode">
    <ngx-md [data]="question"></ngx-md>
  </div>
  <div class="text-right">
    <button type="button" class="btn btn-lg btn-secondary" (click)="preview()">{{previwLabel}}</button>
  </div>
  <br />
  <br />
  <h2>{{answerCodeLabel}}</h2> 
  <div>{{answerCodeDescription}}</div>
  <ngx-monaco-editor class="code-area" [options]="options" [(ngModel)]="answerCode" [hidden]="answerCodeCompleted"></ngx-monaco-editor>
  <div class="code-area" [hidden]="!answerCodeCompleted">
    <ngx-md [data]="answerCodeMd"></ngx-md>
  </div>
  <br />
  <h5>{{standardInputLabel}}</h5>
  <textarea class="textbox" [(ngModel)]="ansStandardInput" [readonly]="answerCodeCompleted || allCompleted"></textarea>
  <div class="text-right">
    <button type="button" class="btn btn-lg btn-secondary" (click)="runAns()" [disabled]="answerCodeCompleted || allCompleted">{{exeLabel}}</button>
    <button type="button" class="btn btn-lg btn-secondary" (click)="fixAns()" [disabled]="!answerCodeCompleted || allCompleted">{{fixLabel}}</button>
  </div>
  <br />
  <h5>{{standardOutputLabel}}</h5>
  <pre><div class="result-area">{{ansStandardOutput}}</div></pre>
  <br />
  <h5>{{standardErrorLabel}}</h5>  
	<pre><div class="result-area">{{ansStandardError}}</div></pre>
  <br />
  <h5>{{exeTimeLabel}}</h5>
	<div class="result-area">{{ansExeTime}}</div>
  <br />
  <h5>{{exitCodeLabel}}</h5>  
	<div class="result-area">{{ansExitCode}}</div>
  <br />
  <h2>{{testCodeTitle}}</h2>
  <div>{{testCodeDescription}}</div>
  <ngx-monaco-editor class="testcode-area" [options]="options" [(ngModel)]="testCode" [hidden]="testCodeCompleted"></ngx-monaco-editor>
  <div class="testcode-area" [hidden]="!testCodeCompleted">
    <ngx-md [data]="testCodeMd"></ngx-md>
  </div>
  <div class="text-right">
    <button type="button" class="btn btn-lg btn-secondary" (click)="runTest(error)" [disabled]="testCodeCompleted || allCompleted">{{exeLabel}}</button>
    <button type="button" class="btn btn-lg btn-secondary" (click)="fixTest()" [disabled]="!testCodeCompleted || allCompleted">{{fixLabel}}</button>
  </div>
  <h5>{{standardOutputLabel}}</h5>
  <pre><div class="result-area">{{testStandardOutput}}</div></pre>
  <br />
  <h5>{{standardErrorLabel}}</h5>  
	<pre><div class="result-area">{{testStandardError}}</div></pre>
  <br />
  <h5>{{exitCodeLabel}}</h5>  
	<div class="result-area">{{testExitCode}}</div>
  <br />
  <br />
  <div class="text-right">
    <button type="button" class="btn btn-lg btn-primary" (click)="addContest(error)" [disabled]="allCompleted">{{registerLabel}}</button>
    <button type="button" class="btn btn-lg btn-danger" (click)="rmContest(confirm)" [disabled]="allCompleted">{{removeLabel}}</button>
  </div>
  <ngb-alert type="info" [dismissible]="false" [hidden]="!allCompleted">
    {{doneMessage}}
  </ngb-alert>
</app-layout>