<div style="text-align:center">
    <h1>
      {{title}}
    </h1>
</div>
<div class="vartical-middle">
  <div class="vartical-middle-child">
    <img src="/assets/images/logo.png" />
  </div>
</div>
<div class="wrapper">
    <a class="fancy-button pop-onhover bg-gradient1" routerLink="/login" routerLinkActive="active"><span>{{loginLabel}}</span></a>
    <a class="fancy-button pop-onhover bg-gradient2" routerLink="/contests" routerLinkActive="active"><span>{{contestsLabel}}</span></a>
    <a class="fancy-button pop-onhover bg-gradient3" routerLink="/addcontest" routerLinkActive="active"><span>{{addcontestLabel}}</span></a>
    <a class="fancy-button pop-onhover bg-gradient4" routerLink="/results" routerLinkActive="active"><span>{{resultsLabel}}</span></a>
    <a class="fancy-button pop-onhover bg-gradient5" routerLink="/users" routerLinkActive="active"><span>{{usersLabel}}</span></a>
</div>