/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

a {
  text-decoration: none;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}

h4 {
  position: relative;
}

.grid {
  margin: 0;
}

.col-1-4 {
  width: 25%;
}

.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}

.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}

.grid-pad {
  padding: 10px 0;
}

.grid-pad>[class*='col-']:last-of-type {
  padding-right: 20px;
}

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
}

@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }

  .module {
    min-width: 60px;
  }
}

.vartical-middle {
  display: table;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

.vartical-middle-child {
  display: table-cell;
  vertical-align: middle;
}

/* Mixins */
@mixin gradientBg($startColor, $endColor) {
  background: $startColor;
  background: -moz-linear-gradient(left, $startColor 0%, $endColor 80%, $endColor 100%);
  background: -webkit-linear-gradient(left, $startColor 0%, $endColor 80%, $endColor 100%);
  background: linear-gradient(to right, $startColor 0%, $endColor 80%, $endColor 100%);
}

/* bg shortcodes */
.bg-gradient1 span,
.bg-gradient1:before {
  @include gradientBg(#52A0FD, #00e2fa);
}

.bg-gradient2 span,
.bg-gradient2:before {
  @include gradientBg(#44ea76, #39fad7);
}

.bg-gradient3 span,
.bg-gradient3:before {
  @include gradientBg(#fa6c9f, #ffe140);
}

.bg-gradient4 span,
.bg-gradient4:before {
  @include gradientBg(#667eea, #764ba2);
}

.bg-gradient5 span,
.bg-gradient5:before {
  @include gradientBg(#ff0844, #ffb199);
}

/* General */
.wrapper {
  // margin: 5% auto;
  text-align: center;
  transform-style: perserve-3d;
  perspecive: 800px;
}

a {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

/* fancy Button */
.fancy-button {
  display: inline-block;
  margin: 30px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;

  &:before {
    content: '';
    display: inline-block;
    height: 40px;
    position: absolute;
    bottom: -5px;
    left: 30px;
    right: 30px;
    z-index: -1;
    border-radius: 30em;
    filter: blur(20px) brightness(0.95);
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
  }

  i {
    margin-top: -1px;
    margin-right: 20px;
    font-size: 1.265em;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    padding: 18px 60px;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    will-change: transform, filter;
    transform-style: preserve-3d;
    transition: all 0.3s ease-out;
  }

  &:focus,
  &:active {
    color: #ffffff;
  }

  &:hover {
    color: #ffffff;

    span {
      filter: brightness(1.05) contrast(1.05);
      transform: scale(0.95);
    }

    &:before {
      bottom: 0;
      filter: blur(10px) brightness(0.95);
    }
  }

  &.pop-onhover {

    &:before {
      opacity: 0;
      bottom: 10px;
    }

    &:hover {

      &:before {
        bottom: -7px;
        opacity: 1;
        filter: blur(20px);
      }

      span {
        transform: scale(1.04);
      }

      &:active {

        span {
          filter: brightness(1) contrast(1);
          transform: scale(1);
          transition: all 0.15s ease-out;
        }

        &:before {
          bottom: 0;
          filter: blur(10px) brightness(0.95);
          transition: all 0.2s ease-out;
        }
      }
    }
  }
}

.capitalize {
  text-transform: capitalize;
}
